.compose-tweet form {
  display:block;
}

.compose-tweet label {
  display:block;
}

.compose-tweet textarea {
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  border:none;
  border-bottom: 3px solid #454545;
  color:#545149;
  outline: none;
  padding-top: 10px;
}

#new-tweet div {
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
  font-family:"Bungee", cursive; 
}

.tweet-container .tweet {
  border: 3px solid #454545;
  font-weight: 300;
  margin-bottom: 40px;
  padding: 20px;
}

.tweet header {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.compose-tweet button {
  border:none;
  background-color: #4056A1;
  color: #ffffff;
  padding:10px 15px;
  border-radius: 4px;;
}

.compose-tweet button:hover {
  background-color:#7c97f0;
  border: #2a3557 solid 1px;
  transition: all 0.8s ease-in;
}

.tweet header p {
  visibility: hidden;
}

.tweet header,
.tweet div,
.tweet footer div {
  margin:0;
}

.tweet > div{
  font-size: 24px;
}

.tweet footer div {
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.tweet footer {
  border-top: 3px solid #454545;
  font-size:15px;
  color: #5e6b96;
}

.tweet footer i:hover{
  color:#6D9B91;
}

.tweet-container .tweet:hover header p {
  visibility: visible;
  color:#b8b4b4;
}

.tweet-container .tweet:hover {
  box-shadow: 10px 10px 0px 0px rgba(166, 194, 236);
  -webkit-box-shadow: 10px 10px 0px 0px rgb(166, 194, 236);
  -moz-box-shadow: 10px 10px 0px 0px rgba(166, 194, 236);
}

.fa {
  padding: 0 15px;
}

.error {
  color:red;
  font-family: 'Source Sans Pro', sans-serif;
}
.error-panel {
  border: 2px solid red;
 display: none;
  margin-bottom: 15px;
}
.error-panel .error {
  margin: 10px; 
}

/* Media Queries*/

 /*Desktop*/

 @media only screen and (min-width: 1024px) {
  body {
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
    justify-content: space-between;
  }

  nav {
    background-image: none;
  }

  body header {
    width: 33%;
    margin: 1.5rem 2rem;
  }

  main {
    width: 50%;
    margin: 0;
    margin:1.5rem 2rem;
  }
}
.user-details{
  display: flex;
    flex-direction: row;
    align-items: center;
}

.tweet .user-name{
  visibility: visible;
  padding-left: 10px;
  font-size: 20px;
}
.tweet .user-handle{
  margin-left:0.5rem;
  visibility: visible;
  color: #2a3557;
}

/* Tablet Styles */
@media only screen and (max-width: 768px) {
  nav{
   background-color: #cf9a3e;
   background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}