.compose-tweet form {
  display:block;
}

.compose-tweet label {
  display:block;
}

.compose-tweet textarea {
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  border:none;
  border-bottom: 3px solid #454545;
}

.compose-tweet div {
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
  font-family:"Bungee", cursive; 
}

.compose-tweet div .error {
  color:red;
}

.tweet-container .tweet {
  border: 3px solid #454545;
  font-weight: 300;
  margin-bottom: 40px;
  padding: 20px;
}

.tweet header {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.compose-tweet button {
  border:none;
  background-color: #4056A1;
  color: #000000;
  padding:10px 15px;
  border-radius: 4px;;
}

.compose-tweet button:hover {
  background-color:transparent;
  border: #7a91df solid 1px;
  transition: all 0.8s ease-in;
}

.tweet header p {
  visibility: hidden;
}

.tweet header,
.tweet div,
.tweet footer div {
  margin:0 20px;
}

.tweet footer div {
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.tweet footer {
  border-top: 3px solid #454545;
  font-size:15px;
}

.tweet-container .tweet:hover header p {
  visibility: visible;;
  color:#b8b4b4;
}

.tweet-container .tweet:hover {
  box-shadow: 10px 10px 0px 0px rgba(166, 194, 236);
  -webkit-box-shadow: 10px 10px 0px 0px rgb(166, 194, 236);
  -moz-box-shadow: 10px 10px 0px 0px rgba(166, 194, 236);
}

.fa {
  padding: 0 15px;
}