.new-tweet form{
  display:block;
}
.new-tweet label{
  display:block;
}
.new-tweet textarea{
  height:15;
  background-color: #f4f1ec;
  color: #545149;
  resize: none;
  border: 0 none;
  width: 100%;
  border:none;
  border-bottom: 3px solid #000;
}
.new-tweet div{
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.new-tweet button{
  border:none;
  background-color: #ff9f07;
  font-family:"Bungee", cursive; 
  border-radius: 5px;
  padding: 5px 15px;
}